
.new-features-widget {
  background: linear-gradient(to right, #ffeb3b, #fbc02d);
  color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;

}

.widget-half {
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-icon {
 
  width: 300px;
  
}

.widget-title {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.widget-intro {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 10px;
}

.read-more-button {
  background-color: #ffffff;
  color: #fbc02d;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s, color 0.3s;
}

.read-more-button:hover {
  background-color: #fbc02d;
  color: #ffffff;
} 
