$accent-bg: #002f3f;

// Primary Colors
$primary-color: #ffc72c;
$primary-dark: #002f3f;
$primary-light: #ffffff;

// Text Colors
$text-primary: #002f3f;
$text-secondary: #9bc1c7;
$text-light: #ffffff;

// Background Colors
$bg-primary: #eaf5eb;
$bg-secondary: #e9ecef;
$bg-hover: #d6d8da;

$border-color: #2c4c40;

// Accent Colors
$accent-success: #00b41e;
$accent-danger: #d9534f;
$accent-warning: #ffbc00;

// Other Colors
$shadow-color: rgba(0, 0, 0, 0.1);
