.quickAccess {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  background-color: #bcbcbc;
  border-radius: 16px; /* Slightly larger radius for a smoother look */
  padding: 1rem;
  gap: 1rem; /* Increase gap for better spacing */
}

.service {
  position: relative; /* To position the "X" button absolutely within this container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  padding: 16px; /* Increase padding */
  font-size: 14px; /* Increased font size */
  line-break: normal;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s;
  width: 100px; /* Increased width */
  height: 120px; /* Increased height */
  border-radius: 16px; /* Rounded corners */
  background-color: white; /* White background for contrast */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Softer shadow for a card-like effect */

  &:hover {
    transform: scale(1.05); /* Slight scale for hover effect */
  }

  &__icon {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow for icon */
    padding: 8px;
    border-radius: 12px; /* Rounded corners for icon background */
    display: block;
    margin-bottom: 8px;

    & svg {
      width: 32px; /* Increase icon size */
      height: 32px;
    }
  }

  .remove-button {
    position: absolute;
    top: 8px; /* Adjusted position */
    right: 8px; /* Adjusted position */
    background-color: transparent;
    border: none;
    color: red;
    font-size: 16px; /* Increased size for visibility */
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: darkred; /* Change color on hover */
    }
  }
}
