@import "@styles/_variables.scss";

.approvals-widget {
  background-color: $bg-primary;
  border-radius: 8px;
  padding: 16px;
  height: 100%; // Убедитесь, что высота 100%
  overflow: auto; // Прокрутка при необходимости

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
      font-size: 24px;
    }
  }

  &__list {
    margin-top: 16px;

    .approval-item {
      cursor: pointer;
      padding: 16px;
      transition: background-color 0.2s;

      &:hover {
        background-color: $bg-secondary;
      }

      .ant-list-item-meta {
        align-items: center;

        .ant-list-item-meta-avatar {
          margin-right: 16px;
        }

        .ant-list-item-meta-title {
          font-size: 18px;
          font-weight: 500;
        }

        .ant-list-item-meta-description {
          color: $text-secondary;
        }
      }

      .approval-item__amount {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  /* Тонкий скроллбар без фонового цвета */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.approval-details-modal {
  .ant-modal-content {
    border-radius: 8px;
  }

  .approval-details {
    p {
      margin-bottom: 12px;
      font-size: 16px;
    }

    .qr-code {
      text-align: center;
      margin-top: 20px;

      p {
        margin-top: 12px;
        font-size: 14px;
        color: $text-secondary;
      }
    }
  }
}
